body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

/* INICIO - CABEÇALHO DA PAGINA */
header {
    background-image: url(imagens/bg-3.jpg);
    height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


nav .menu {
    padding: 20px;
    margin-top: 0;
    margin-left: auto;
    list-style-type: none;
    width: 300px;

}

.menu li {
    display: inline-block;
    margin: 5px;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    border: 1px solid white;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
}



.header-title {
    letter-spacing: 6px;
    margin-top: 150px;
    text-shadow: 3px 1px black ;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    color: white;

}

.header-about {
    width: 350px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    color: white;
    border-bottom: 1px solid white;
    background-color: rgb(0, 0, 0, 0.5);
}

/* FIM - CABEÇALHO DA PAGINA */

/* INICIO - CONTEUDO PRINCIPAL */

main {
    width: 80%;
    margin: auto;
    padding: 10px;
}

main article {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
}

main article h2 {
    text-transform: uppercase;
    background-color: rgb(214, 214, 214);
    padding: 5px;
    border-bottom: 1px solid gray;
}

main article a {
    color: blue;
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-radius: 5px;
}

/* FINAL - CONTEUDO PRINCIPAL */

/* INICIO - RODAPE */

footer{
    background-color: gray;
    text-align: center;
    padding: 10px;
}